.profile-auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(rgba(15,32,39,0.85), rgba(44,83,100,0.85)),
    url("/login.jpg");
  background-size: cover;
}

.auth-card {
  width: 380px;
  padding: 32px;
  border-radius: 22px;

  background: rgba(20,30,40,0.65);
  backdrop-filter: blur(16px);
  color: #eaeaea;
  text-align: center;
}

.role-select {
  display: flex;
  gap: 14px;
  margin: 20px 0;
}

.role-select button {
  flex: 1;
  padding: 12px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: rgba(255,255,255,0.15);
  color: white;
  font-weight: 600;
}

.role-select .active {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

.auth-card input,
.auth-card select {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.15);
  color: white;
}

.login-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border-radius: 16px;
  border: none;
  font-weight: 700;
  cursor: pointer;

  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
}

.auth-card select {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 14px;
  border: none;

  background: rgba(255,255,255,0.18);
  backdrop-filter: blur(10px);

  color: #ffffff;
  font-size: 15px;
}

/* dropdown options */
.auth-card select option {
  background: #0f172a;   /* dark blue */
  color: #ffffff;
}
